// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.container {
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.flex {
  --gap: ;
  display: flex;
  gap: (var(--gap) 1em);
}

.grid {
  --gap: ;
  display: grid;

  grid-template-rows: auto;
  gap: (var(--gap) 1em);
}
