// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

:root {
  --clr-bg1: hsla(248, 35%, 8%, 1);
  --clr-bg2: hsla(234, 32%, 17%, 1);
  --clr-bg3: hsla(244, 16%, 40%, 1);
  --clr-btn-bg: hsla(230, 5%, 45%, 1);
  --clr-btn-active: hsla(236, 80%, 57%, 1);
  --clr-text1: hsla(240, 9%, 91%, 1);
  --clr-text2: hsla(243, 10%, 66%, 1);
  --clr-text3: hsla(245, 11%, 57%, 1);
  --clr-text4: hsla(231, 9%, 42%, 1);
  --clr-in: hsla(53, 100%, 70%, 1);
  --font-w400: 400;
  --font-w500: 500;
  --font-w600: 600;
  --font-w700: 700;
}
